<form [formGroup]="reactiveForm">
  <div class="container">
    <h1>Edit a Student, {{ id }}</h1>

    <mat-form-field appearance="outline">
      <mat-label>Student Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dob" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="year"
        [startAt]="startDate"
      ></mat-datepicker>
    </mat-form-field>
    <br />
    <button mat-raised-button color="accent" (click)="onSubmit()">
      Edit Student
    </button>
  </div>
</form>
